/* Fixes codebox colors */
code, pre
{
	background-color:rgba(255,255,255,0.025);
	border-radius:6px;
}

code:hover, pre:hover
{
    box-shadow:0 0 8px 2px rgba(255,255,255,0.4);
}

.SpoilerText > pre, .SpoilerText > code
{
    background-color:rgba(0,0,0,0.5);
}

/* Fixes "Post Edited" message color (less intense) */
div.PostEdited
{
    color: rgba(255,128,128,0.7);
}

/* Adds page listing to bottom of page */
#PagerAfter
{
    display:block !important;
}

/* Adds separators to editor */
.editor .editor-sep
{
    border-left-color: rgba(255, 255, 255, 0.1);
}

/* Fixes profile hover-over background colors */
table.PreferenceGroup tbody tr:hover td
{
    background: rgba(255,255,255,0.2) !important;
}

/* Fixes large page number display */
.Pager a
{
    box-sizing:border-box;
    padding-left:5px;
    padding-right:5px;
}

/* Differentiates between message and signature area */
.Signature.UserSignature
{
    border-top:1px solid rgba(255,255,255,0.2);
    
    height:auto;
    max-height:300px; 
    overflow-y:auto;
}

/* Stop overly large image displays */
.Signature.UserSignature img
{
    width:auto;
    height:auto;
    
    /* According to official rules, 650x250 is the max size 
    http://perfectworld.vanillaforums.com/discussion/1191393/perfect-world-entertainment-community-rules-and-policies
    */
    max-width:650px;
    max-height:250px !important;
}

/* show icons properly (they used FFFFFF instead of ffffff - credit to dblazen1 for finding this one */
.ReactSprite
{
    background-image: url('http://perfectworld.vanillaforums.com/applications/dashboard/design/images/sprites-14-ffffff.png') !important;
}

/* Fixes bookmarked threads */
.Bookmarked::before
{
    display:none;
}

a.Bookmarked::before
{
    display:inline-block;
    font-family:"vanillicon";
    font-variant:normal;
    font-weight:normal;
    font-style:normal;
    color:#FFF;
    min-width:1em;
    text-align:center;
    text-decoration:inherit;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    content: "\f199";
}

/* Puts a comma between page numbers in thread lists */
.MiniPager a:not(:last-child)::after
{
    content:",";
}

/* Fixes profile button - partial credit to dblazen1 */
#Body .Button:not([value="Search"]), .NavButton
{
	color:#DDD;
	text-shadow: none;
    border-top:1px solid rgba(255,255,255,0.4);
    border-radius:4px;
}
#Body .Button:not([value="Search"]):hover, .NavButton:hover
{
    color:#FFF;
    background:linear-gradient(#4B4E56, #3D3D46);
}

#Body .Button:not([value="Search"]):active, .NavButton:active
{
    color:#AAA;
    background:linear-gradient(#272731, #373a43);
    border-top-color:rgba(255,255,255,0.1);
}

/* Fixes Search Icon Focus */
.SiteSearch .Button:focus
{
    background-image: url('http://perfectworld.vanillaforums.com/applications/dashboard/design/images/sprites.png');
}

/* Fixes awful look of subforum categories subforums of thread lists */
.ChildCategoryList
{
    padding:20px 0;
}

.HomepageTitle
{
    padding-left:20px;
}

.P
{
    padding-left:30px;
}

.ChildCategoryList .Item
{
    box-sizing:border-box;
    width:24%;
    height:140px;
    margin:0 3px;
    overflow:hidden;
    box-shadow:0 0 4px 0px #000;
    background-color:#1B1C20;
}

.ChildCategoryList .Item:nth-child(odd)
{
    clear:none;
}

.ChildCategoryList .Item h3.CategoryName
{
    min-height:22px;
    max-height:44px;
    height:auto;
    display:block;
    margin-bottom:8px;
    padding-top:4px;
    padding-bottom:6px;
    text-align:center;
    border-bottom:1px solid #222224;
    background-color:#222224;
}

.ChildCategoryList .Item div.CategoryDescription
{
    font-size:0.8em;
    line-height:1.3em;
    padding:0 10px;
}

.ChildCategoryList .ItemContent
{
    padding:0;
    vertical-align:top;
}

.DataList.ChildCategoryList > li.Item
{
    /* Why the frick is PWE using !important so much? Only I should need it, not them... */
    margin-bottom:6px !important;
    border-radius:10px 4px 10px 4px;
    position:relative;
    background-color:#1B1C20;
}

.ChildCategoryList .Item .Meta.Hidden
{
    display:block;
    overflow:hidden;
    /*padding-top:10px;*/
    position:absolute;
    width:95%;
    padding:0 10px;
    bottom:0;
}

.ChildCategoryList .Item .Meta.Hidden .MItem
{
    display:inline-block;
    width:45%;
    overflow:visible;
    position:relative;
}

.ChildCategoryList .Item .Meta.Hidden .MItem.CommentCount
{
    text-align:right;
}

/* Fixes overly long PM snippet alerts */
.Excerpt
{
    max-height:180px;
    overflow:hidden;
}

/* Fixes Preview Colors */
.Preview
{
    background:none;
    color:inherit;
    border:1px solid rgba(255,255,255,0.2);
}

/* Fixes profile "Back to Profile"'s unusual feeling location */
.ProfileOptions
{
    width:110px;
    height:30px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
}

/* Fixes awful "mark" color */
mark
{
    background:rgba(0,0,0,0.5);
    border-radius:5px;
    padding-left:5px;
    padding-right:4px;
}
