/* Changed to fluid width forum */
.Row
{
    padding:0 40px;
    width:auto;
    min-width:662px;
}

.themeManager
{
    margin: 40px auto !important;
    min-width:620px;
    width:auto !important;
}

.DiscussionsTable > tbody > tr > td.DiscussionName > div > a.Title
{
    word-wrap: break-word;
    white-space: normal;
    width: auto;
}

.CategoryTable > tbody > tr td,
.DiscussionsTable > tbody > tr td
{
    position: relative;
}

.BlockTitle:hover
{
    overflow: visible;
}

@media (max-width: 1440px)
{
    .DiscussionsTable td.BigCount
    {
		width: 55px;
    }
    
    .Categories .ChildCategoryList .Item.Category
    {
		margin-left: 1% !important;
		margin-right: 1% !important;
    }
    
    .Categories .ChildCategoryList .Item.Category:nth-child(4n+1)
    {
		margin-left: 0px !important;
		margin-right: 2% !important;
    }

    .Categories .ChildCategoryList .Item.Category:nth-child(4n+4)
    {
		margin-left: 2% !important;
		margin-right: 0px !important;
    }
}

@media (max-width: 1152px)
{
    .CategoryTable td.BigCount,
    .DiscussionsTable td.BigCount,
    .CategoryTable > tbody > tr .BigCount,
    .DiscussionsTable > tbody > tr .BigCount
    {
		display: none;
    }
    
    .Categories .ChildCategoryList .Item.Category .Meta.Hidden .MItem
    {
		display: none;
    }
    
    .Categories .ChildCategoryList .Item.Category .ItemContent .CategoryName .Title
    {
		font-size: 75%;
	}
    
    .DataTableWrap,
    .PageControls,
    .Categories .ChildCategoryList
    {
		padding: 0 5.5%;
	}
    
    .MessageList.Comments
    {
		padding-left: 0px;
		background: none;
	}
}

@media (max-width: 960px)
{
    .DiscussionsTable .Item a.Title::before
    {
        display:inline-block;
        font-family:"vanillicon";
        font-variant:normal;
        font-weight:normal;
        font-style:normal;
        color:#FFF;
        min-width:1em;
        text-align:center;
        text-decoration:inherit;
        text-transform:none;
        line-height:1;
        -webkit-font-smoothing:antialiased;
        margin-right:4px;
    }
    
    .DiscussionsTable .Item.Announcement a.Title::before
    {
    	content: "\f113";
    }
    
    .DiscussionsTable .Item.Closed a.Title::before
    {
		content: "\f166";
	}
    
    .DiscussionsTable .Item.New a.Title::before,
    .DiscussionsTable .Item.Unread a.Title::before
    {
		content: "\f132";
	}
    
    .DiscussionsTable .Item.Announcement.New a.Title::before,
    .DiscussionsTable .Item.Announcement.Unread a.Title::before
    {
		content: "\f113\0020\f132";
	}
    
    .DiscussionsTable .Item.Announcement.Closed a.Title::before
    {
		content: "\f113\0020\f166";
	}
    
    .DiscussionsTable .Item.Closed.New a.Title::before,
    .DiscussionsTable .Item.Closed.Unread a.Title::before
    {
		content: "\f166\0020\f132";
	}
    
    .DiscussionsTable .Item.Announcement.Closed.New a.Title::before,
    .DiscussionsTable .Item.Announcement.Closed.Unread a.Title::before
    {
		content: "\f113\0020\f166\0020\f132";
	}
    
    .NewCommentCount,
    .CategoryTable .Tag,
    .DiscussionsTable .Tag
    {
		display: none;
    }
    
    .CategoryTable .LatestPost
    {
		width: 250px;
	}
    
    .DataTableWrap,
    .PageControls,
    .Categories .ChildCategoryList
    {
		padding: 0 4%;
	}
    
    .Categories .ChildCategoryList .Item.Category .ItemContent .CategoryDescription
    {
		font-size: 10px;
	}
}

@media (max-width: 784px)
{
    .BlockTitle,
    .DiscussionsTable .FirstUser .Meta,
    .DiscussionsTable .LastUser .Meta
    {
		display: none;
	}
    
    .CategoryTable .LatestPost .Meta
    {
		display: none;
	}
    
    .CategoryTable .LatestPost
    {
		width: 100px;
		padding-left: 0px;
		text-align: center;
    }
    
    .CategoryTable .LatestPost .PhotoWrap
    {
		display: block;
		width: 100%;
		
	}
    
    .DiscussionsTable > thead > tr td.FirstUser,
    .DiscussionsTable > thead > tr td.LastUser,
    .DiscussionsTable .FirstUser,
    .DiscussionsTable .LastUser
    {
		width: 75px;
	}
    
    .DataTableWrap,
    .PageControls,
    .Categories .ChildCategoryList
    {
		padding: 0 2%;
	}
}

@media (min-width: 1441px)
{
    .CategoryTable > thead > tr td.FirstUser,
    .DiscussionsTable > thead > tr td.FirstUser,
    .CategoryTable > thead > tr td.LastUser,
    .DiscussionsTable > thead > tr td.LastUser
    {
		min-width: 150px;
		max-width: 250px;
		width: 17% !important;
	}
}
