@keyframes glow-my-pretty
{
    0% { box-shadow:0px 0px 8px 1px rgba(153, 51, 51, 0.75); }
    /*25% { box-shadow:0px 0px 3px rgba(51, 153, 255,0.4); }*/
    50% { box-shadow:0px 0px 8px 1px rgba(204, 51, 70,0.75); }
    /*75% { box-shadow:0px 0px 3px rgba(51, 153, 255,0.4); }*/
    100% { box-shadow:0px 0px 15px 1px rgba(255, 51, 60, 0.8); }
}

a,
#Head a,
body,
.MiniPager a,
.UserLink
{
    color: #FFF;
    text-decoration: none;
}

a:hover,
#Head a:hover
{
    text-decoration: none;
}

html { min-height:100%; height:auto; box-sizing:border-box; }

body
{
    background:linear-gradient(rgba(153, 51, 51, 0.12) 80%, rgba(255, 51, 60, 0.175) 100%), url('https://cdn.rawgit.com/Goodlookinguy/pwvnrg/master/grayscale.content/zwartevilt.png') repeat;
}

/* Reset to prepare to overwriting */
.DataList .Item,
.Comment,
.MessageList > Item.ItemDiscussion,
.CommentsWrap > div.DataBox.DataBox-Comments > ul > li
{
    background:none;
}

/* Changes general post color (is too dark otherwise) */
.ItemDiscussion,
.Comment,
.Activities > .Activity,
.MessageList > li,
.Item-Search,
.Profile .DataListWrap ul.DataList li.Item,
.DataListWrap ul.Conversations li.Item,
ol.DataList-Search li.Item,
ul.Drafts li.Item,
div.Profile > div.User
{
    /*overflow:hidden;*/
    background-color:rgba(204, 51, 70, 0.35);
    border:1px solid rgba(255, 51, 60,0.4);
    box-shadow:0px 0px 8px 1px rgba(153, 51, 51, 0.75);
    border-radius:5px;
    transition:box-shadow 0.5s cubic-bezier(1,0,0.2,2.0) 80ms, border-radius 0.5s cubic-bezier(1,0,0.2,2.0) 80ms;
}

.ItemDiscussion:hover,
.Comment:hover,
.Activities > .Activity:hover,
.MessageList > li:hover,
.Item-Search:hover,
.Profile .DataListWrap ul.DataList li.Item:hover,
.DataListWrap ul.Conversations li.Item:hover,
ol.DataList-Search li.Item:hover,
ul.Drafts li.Item:hover,
.Section-ActivityList .FormWrapper:hover,
.FormWrapper:hover,
div.Profile > div.User:hover
{
    /*box-shadow:0px 0px 15px 2px rgba(255, 51, 60, 0.8);*/
    border-radius:25px;
    transition:border-radius 0.2s ease-in 0s;
    animation: glow-my-pretty 2s linear 100ms infinite alternate;
}

.customWallpaper .ItemDiscussion a:not(.Bookmark),
.customWallpaper .Comment,
.customWallpaper .Activities > .Activity,
.customWallpaper .MessageList > li,
.customWallpaper .Item-Search,
.customWallpaper .Profile .DataListWrap ul.DataList li.Item,
.customWallpaper .DataListWrap ul.Conversations li.Item,
.customWallpaper ol.DataList-Search li.Item,
.customWallpaper ul.Drafts li.Item,
.customWallpaper div.Profile > div.User
{
    text-shadow:-1px -1px 1px #000,
                 1px  1px 1px #000,
                 1px -1px 1px #000,
                -1px  1px 1px #000,
                 0px  0px 5px #FFF;
}

.DataList .Item
{
    margin-bottom: 15px !important;
}

.Activities a.CommentLink,
.Activities a.CommentLink:hover
{
    color: #888 !important;
    text-shadow: none;
}

span.DateCreated
{
    color: #C9C9C9;
}

div.Profile > div.User
{
    padding: 5px 10px;
}

div.ProfileOptions
{
    width: auto;
    min-width: 110px;
}

div.ProfileOptions > a.NavButton.ProfileButtons.Button-EditProfile
{
    margin-top: 14px;
    margin-right: 15px;
}

h1.H,
h2.H,
.Row > h1,
.PageDescription
{
    color: #FFF;
    background-color:rgba(204, 51, 70, 0.35);
    border:1px solid rgba(255, 51, 60,0.4);
    box-shadow:0px 0px 8px 1px rgba(153, 51, 51, 0.75);
    border-radius:5px;
    padding: 5px 15px;
}

.PageDescription
{
    margin-left: 20px;
    padding-left: 8px;
    padding-right: 6px;
}

.Profile > .DataListWrap > .FormWrapper
{
    margin-bottom: 10px;
}

.Dashboard.Profile.Section-EditProfile:not(#dashboard_profile_signature) #Content > .ProfileOptions
{
    margin-top: 2px;
    margin-right: 5px;
}

#dashboard_profile_signature #Content > .ProfileOptions
{
    margin-top: 17px;
    margin-right: 21px;
}

.ProfilePhotoSmall
{
    /*transition: transform 0.1s linear 0.1s;*/
    transition: transform 0.3s cubic-bezier(0,0,0.5,2.0) 0s;
    position:relative;
}

.ProfilePhotoSmall:hover
{
    z-index:100;
    transform: translateY(-10px) scale(4, 4);
    transition: transform 0.2s cubic-bezier(0,0,0.5,2.0) 0.4s;
    animation: glow-my-pretty 2s linear 0.4s infinite alternate;
}

.DataTable a.Title
{
    width:50px;
    overflow:hidden;
}

.MenuItems
{
    background-color: rgb(204, 51, 70);
    color: #FFF;
}

.ButtonGroup .Dropdown
{
    
}

.MenuItems a,
.MenuItems a:link,
.MenuItems a:visited,
.MenuItems a:active
{
    color: #FFF !important;
}

.MenuItems a:hover
{
    background-color: rgb(163, 41, 56) !important;
    cursor: pointer;
}

.Flyout
{
    background-color: rgb(204, 51, 70);
    color: #FFF;
}

.Flyout:after
{
    border-bottom-color: rgb(204, 51, 70);
}

.FlyoutMenu a
{
    color: #FFF !important;
}

.PopList .Meta
{
    color: #CCC;
}

input.InputBox
{
    background-color: rgb(204, 51, 70);
    color: #FFF;
}

input.InputBox:focus
{
    background-color: rgb(204, 51, 70);
}

input.InputBox::-webkit-input-placeholder
{
    color: #FFF;
}

input.InputBox:-moz-placeholder
{
    color: #FFF;
}

input.InputBox::-moz-placeholder
{
    color: #FFF;
}

input.InputBox:-ms-input-placeholder
{
    color: #FFF;
}

input.InputBox:input-placeholder
{
    color: #FFF;
}

/* Extension */
.emote-category
{
    background-color: transparent;
}

.enhance-options .Flyout .title
{
    background: rgb(163, 41, 56);
}

.enhance-options .Flyout::after
{
    border-bottom-color: rgb(163, 41, 56);
}

.sp-container
{
    background-color: transparent;
    border: solid 1px #FFF;
    border-radius: 5px;
}

.sp-input
{
    background-color: #EEE;
}

input[type="checkbox"]
{
    line-height: 13px;
    vertical-align: middle;
}

span.label
{
    color: #FFF !important;
    line-height: 13px;
    vertical-align: middle;
}

.Flyout.emotes-dialog
{
    background-color: rgb(163, 41, 56);
}

.Flyout.emotes-dialog .emotes-div
{
    background-color: rgb(204, 51, 70);
}

.emotes-div:only-of-type
{
    background-color: rgb(163, 41, 56) !important;
}

.emotes-div:only-of-type .image:hover
{
    background-color: rgb(204, 51, 70) !important;
    box-shadow: 0px 0px 0px 3px rgb(204, 51, 70);
}

.emote-category img.selected
{
    background-color: rgb(204, 51, 70);
}

.emotes-dialog .image:hover
{
    background-color: rgb(163, 41, 56);
    box-shadow: 0px 0px 0px 3px rgb(163, 41, 56);
}

.emote-category img:hover:not(.selected)
{
    background-color: rgba(255, 255, 255, 0.3);
}

.Flyout.emotes-dialog:after
{
    border-bottom-color: rgb(163, 41, 56);
}

/* Attempting to reduce break overuse once again, hopefully this time it won't overdo it */
blockquote.Quote.UserQuote + br
{
    display: none;
}

blockquote.Quote.UserQuote + span[style*="color"] br:first-of-type
{
    display: none;
}


/* Change form box color (index, activity, profile, post) */
.CommentFormWrap
{
    background:none;
    border:0;
}

.Section-ActivityList .FormWrapper,
.FormWrapper
{
    box-sizing:border-box;
    background-color:rgba(204, 51, 70, 0.4);
    border:1px solid rgba(255, 51, 60,0.4);
    margin-bottom:10px;
    border-radius:5px;
    box-shadow:0px 0px 8px 1px rgba(153, 51, 51, 0.75);
    transition:box-shadow 0.5s cubic-bezier(1,0,0.2,2.0) 80ms, border-radius 0.5s cubic-bezier(1,0,0.2,2.0) 80ms;
}

/* Add backgrounds to preferences */
#Content > div.FormTitleWrapper > div.Preferences,
#Content form[action^="/profile/"]
{
    background-color:rgba(204, 51, 70, 0.45) !important;
    border-radius:5px;
}

/* User Overall Control Panel */
#Head
{
    background:none;
}

.Row > .Box
{
	background: rgba(204, 51, 70,0.35);
	border: 1px solid rgba(255, 51, 60, 0.5);
}

.BoxTop
{
	box-shadow:0px 0px 10px 0px #000;
}

/* User Profile */
#Panel
{
    box-sizing:border-box;
    padding:5px;
    background-color:rgba(204, 51, 70, 0.45);
    border-radius:7px;
}

#Panel .ProfilePhotoLarge
{
    width:190px;
    border-radius:5px 5px 0px 0px;
}

#Panel .Box
{
    background:none;
    border:none;
}

.FilterMenu > li
{
    padding:0px !important;
}

.FilterMenu > li a, .FilterMenu > li a:link
{
    display:block;
    padding:5px 0 5px 5px;
}

.FilterMenu > li a:hover
{
    background-color:rgba(255,255,255,0.1);
    color:rgb(207,118,175);
}

/* Navigation Buttons (including page listings) */
#Body .Button:not([value="Search"]), .NavButton, .Pager a, .Pager span,
#Body .Button:not([value="Search"]):focus, .NavButton:focus, .Pager a:focus, .Pager a:active:focus
{
	background: linear-gradient(rgba(255,255,255,0.6), rgba(153, 51, 51, 0.5)) !important;
    border-top:1px solid rgba(255,255,255,0.8);
    border-bottom:1px solid rgba(153, 51, 51, 0.8);
    box-shadow:0 2px 3px 0px #000;
    border-radius:3px;
}

#Body .Button:not([value="Search"]):hover, .NavButton:hover, .Pager a:hover:not(.Highlight)
{
	background: linear-gradient(rgba(255,255,255,0.7), rgba(153, 51, 51, 0.4)) !important;
    border-top:1px solid rgba(255,255,255,0.9);
    border-bottom:1px solid rgba(153, 51, 51, 0.85);
}

#Body .Button:not([value="Search"]):active:hover, .NavButton:active:hover, .Pager a:active:not(.Highlight)
{
    background: linear-gradient(rgba(153, 51, 51, 0.5), rgba(255,255,255,0.3)) !important;
    border-top:1px solid #AAA;
    border-bottom:1px solid #000;
    box-shadow:0 0px 3px 0px #000;
}

.Pager a.Highlight
{
    background: radial-gradient(45px 15px at center top, rgba(255,255,255,0.5), rgba(153, 51, 51, 0.7)) !important;
}

.CategoryTable > tbody > tr,
.DiscussionsTable > tbody > tr
{
    background-color: rgba(122, 41, 41, 0.5);
}

.CategoryTable > tbody > tr.Item.Read,
.DiscussionsTable > tbody > tr.Item.Read
{
    background-color: rgba(153, 51, 51, 0.5);
}

.CategoryTable > tbody > tr.Item.Unread,
.DiscussionsTable > tbody > tr.Item.Unread
{
    background-color: rgba(135, 62, 62, 0.5);
}

.CategoryTable > tbody > tr.Item.New,
.DiscussionsTable > tbody > tr.Item.New
{
    background-color: rgba(135, 62, 62, 0.5);
}

/* Hover */
.CategoryTable > tbody > tr:hover,
.DiscussionsTable > tbody > tr:hover td
{
    background: rgba(122, 41, 41, 0.7) !important;
}

.CategoryTable > tbody > tr.Item.Read:hover,
.DiscussionsTable > tbody > tr.Item.Read:hover td
{
    background: rgba(153, 51, 51, 0.7) !important;
}

.CategoryTable > tbody > tr.Item.Unread:hover,
.DiscussionsTable > tbody > tr.Item.Unread:hover td
{
    background: rgba(135, 62, 62, 0.7) !important;
}

.CategoryTable > tbody > tr.Item.New:hover,
.DiscussionsTable > tbody > tr.Item.New:hover td
{
    background: rgba(135, 62, 62, 0.7) !important;
}

.Item.ItemDiscussion:hover td a:hover
{
    color: rgb(215, 150, 160);
}

.CategoryGroup tr, .ContentColumn .CategoryGroup
{
    
}

.DataTable > thead > tr > td
{
    background: linear-gradient(#DFA6AF, #782024);
    color:#DEB5B0;
    text-shadow:0px -2px 1px #993333, 0px -1px 1px #993333;
}

.ChildCategories a
{
    
}

.ChildCategoryList .Item h3.CategoryName
{
    margin-top:1px;
    border-bottom:1px solid transparent;
    background: rgba(135, 62, 62, 0.7) !important;
}

.ChildCategoryList .Item h3.CategoryName a:hover
{
    text-shadow:0px 0px 3px #000;
    color:#DEB5B0;
}

.DataList.ChildCategoryList > li.Item
{
    background: linear-gradient(#DFA6AF, #782024);
}

#Body .SearchForm form[action="/search"]
{
    display:none;
}

/* Post internal borders */
.Comment .Item-BodyWrap
{
    border-color:rgba(255, 51, 60, 0.35);
}

.Signature.UserSignature
{
    border-color:rgba(255, 51, 60, 0.35);
}

.WarningMessage,
.CasualMessage,
.DismissMessage,
.AlertMessage
{
    background: rgba(153, 51, 51, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(153, 51, 51, 0.5);
    border:none;
    color: #DDD;
}

.WarningMessage a.Dismiss:hover,
.CasualMessage a.Dismiss:hover,
.DismissMessage a.Dismiss:hover,
.AlertMessage a.Dismiss:hover
{
    color:inherit;
    background:none;
}

.WarningMessage a:not(.Dismiss),
.CasualMessage a:not(.Dismiss),
.DismissMessage a:not(.Dismiss),
.AlertMessage a:not(.Dismiss)
{
    color: #DDD;
}

.WarningMessage a:not(.Dismiss):hover,
.CasualMessage a:not(.Dismiss):hover,
.DismissMessage a:not(.Dismiss):hover,
.AlertMessage a:not(.Dismiss):hover
{
    color: #FFF;
}

.WarningMessage a:not(.Dismiss):hover::before,
.CasualMessage a:not(.Dismiss):hover::before,
.DismissMessage a:not(.Dismiss):hover::before,
.AlertMessage a:not(.Dismiss):hover::before
{
    content:"»";
}

.WarningMessage a:not(.Dismiss):hover::after,
.CasualMessage a:not(.Dismiss):hover::after,
.DismissMessage a:not(.Dismiss):hover::after,
.AlertMessage a:not(.Dismiss):hover::after
{
    content:"«";
}
